<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>
    <p>Ugloo sert à stocker vos données, de manière élastique et à des coûts raisonnés.<br>
        Avec une résilience adaptée au stockage à moyen / long terme.<br>
        Résistant aux cyberattaques.<br>
        On-premise, dans le Cloud ou sur vos plateformes Kubernetes.
    </p>
    <ul class="links">
        <li><a href="#compatible-aws-s3">Compatible AWS S3</a></li>
        <li><a href="#protocole-deeptorrent">Protocole DeepTorrent / BitTorrent</a></li>
        <li><a href="#sécurité">Sécurité</a></li>
        <li><a href="#">Adaptabilité</a></li>
        <li><a href="#">Souveraineté</a></li>
    </ul>
    <footer>
        <a href="tags/fonctionnalités" class="button">{{ T "sidebar_button_1" }}</a>
<!-- BUG: Voir pourquoi l'URL est cassée -->
    </footer>
</section>
