.home {
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-ugloocolor: #4193b2;
    --bd-bkgnd: rgb(233, 230, 227);
    --bd-bkgnd-rgb: 233, 230, 227;
    --bd-accent: rgb(255, 228, 132);
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 255,228,132;
    --bd-pink-rgb: 214,51,132;

    .bd-masthead {
        padding: 0.1rem 0;
        background-image: linear-gradient(180deg, rgba(var(--bd-bkgnd-rgb), 0.01), rgba(var(--bd-bkgnd-rgb), 1) 85%);
                        //url("../images/object-storage-polar-bear.jpg");
                        //   radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),
                        //   radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),
                        //   radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),
                        //   radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-ugloocolor);
        --bs-btn-border-color: var(--bd-ugloocolor);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bd-ugloocolor);
        --bs-btn-hover-bg: var(--bd-bkgnd);
        --bs-btn-hover-border-color: var(--bd-ugloocolor);
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: var(--bd-ugloocolor);
        --bs-btn-active-border-color: var(--bd-ugloocolor);
    }
}

.navbar {
    @extend .navbar-dark;

    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-ugloocolor-rgb: 65, 147, 178;
    
    padding: .5rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-ugloocolor-rgb), 1), rgba(var(--bd-ugloocolor-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
}

// .text-violet {
//     color: #6528e0;
// }

// Used in home page titles #2
.text-secondary {
    font-family: "Montserrat","Helvetica","Arial",sans-serif; 
    background: linear-gradient(0.25turn, var(--bs-white), var(--bd-ugloocolor), var(--bs-white));
    color: white!important;
}  

.text-ugloofontfamily {
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
    // font-weight: 500;
}
.text-ugloocolor {
    color: var(--bd-ugloocolor) !important;
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(-2deg) scale(1.1);
    }
}

b, code, strong {
    color: var(--bd-ugloocolor) !important;
}

b, strong {
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
}

// ----------------------------------------------------------------------------
// Styles for single pages
.py-3 {
    --bd-ugloocolor: #4193b2;
}
.py-3 h1 {
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
    background: linear-gradient(0.25turn, var(--bs-white), var(--bd-ugloocolor), var(--bs-white));
    color: white!important;
    text-align: center;
    margin-bottom: 5rem;
}

.py-3 h2 {
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
    color: var(--bd-ugloocolor);
    margin-top: 5rem;
}

// ----------------------------------------------------------------------------
// Styles for list pages
.card-title {
    margin-top: 0 !important;
}


