<!-- Features section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <strong>
            <svg xmlns='http://www.w3.org/2000/svg' class='feather feather-big'>
                <use href="{{ `images/feather/feather-sprite.svg#dollar-sign` | relURL }}" />
            </svg>
        </strong>
        <h2 class="h2 text-ugloofontfamily">Cheaper<small class="d-none">💸</small></h2>
        <p>By using unused space from your computers and servers, gain <b>up to 80%</b> of free storage space already
            available, your storage cost will strongly decrease, thanks to <b>Ugloo</b>!</p>
    </div>
    <div class="col-lg-4">
        <strong>
            <svg xmlns='http://www.w3.org/2000/svg' class='feather feather-big'>
                <use href="{{ `images/feather/feather-sprite.svg#compass` | relURL }}" />
            </svg>
        </strong>
        <h2 class="h2 text-ugloofontfamily">Governance in your hands <small class="d-none">👨‍✈️</small></h2>
        <p>Your data (fragments and redundancy) are stored exclusively in your infrastructure, whether in your
            <i>datacenters</i>, at ones of public <i>Cloud</i> providers, or hybrid.
        </p>
    </div>
    <div class="col-lg-4">
        <strong>
            <svg xmlns='http://www.w3.org/2000/svg' class='feather feather-big'>
                <use href="{{ `images/feather/feather-sprite.svg#square` | relURL }}" />
            </svg>
        </strong>
        <h2 class="h2 text-ugloofontfamily">Easy to manage</h2>
        <p>Thanks to its <i>API</i>, <b>Ugloo</b> connects in a breeze to your existing software and is easily managed
            with its centralized Web interface.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <strong>
            <svg xmlns='http://www.w3.org/2000/svg' class='feather feather-big'>
                <use href="{{ `images/feather/feather-sprite.svg#lock` | relURL }}" />
            </svg>
        </strong>
        <h2 class="h2 text-ugloofontfamily">Indestructible storage</h2>
        <p>Redundancy and automatic check/rebuild of fragments provide you with a <b>lifetime guarantee</b> of your
            data, with an <b>unrivaled level of security</b></p>
    </div>
    <div class="col-lg-4">
        <strong>
            <svg xmlns='http://www.w3.org/2000/svg' class='feather feather-big'>
                <use href="{{ `images/feather/feather-sprite.svg#file-plus` | relURL }}" />
            </svg>
        </strong>
        <h2 class="h2 text-ugloofontfamily">Elastic storage</h2>
        <p>Genuinely compatible with <code>AWS S3</code> object storage technology, <b>Ugloo</b> can store an infinite
            number of objects up to 50 TB in size per object.</p>
    </div>
    <div class="col-lg-4">
        <strong>
            <svg xmlns='http://www.w3.org/2000/svg' class='feather feather-big'>
                <use href="{{ `images/feather/feather-sprite.svg#share-2` | relURL }}" />
            </svg>
        </strong>
        <h2 class="h2 text-ugloofontfamily">Distributed architecture</h2>
        <p>With its patented <code>DeepTorrent</code> technology, <b>Ugloo</b> decentralizes the whole storage of your
            data whatever the topology of your infrastructures.</p>
    </div>
</div>